@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Avenir Next', 'Arial', sans-serif;
    background-color: #0c243c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.burgerImage {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    text-shadow: 0 0 30px goldenrod;
}

.pageTitle {
    padding: 0;
    margin: 0;
}

#burgerTxtField {
    line-height: 1.5rem;
    width: 300px;
    font-size: 16px;
    text-align: center;
    color: #00000087
}

button {
    border: none;
    border-radius: 10px;
    color: white;
}
.button {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: darkgoldenrod;
    margin-top: 25px;
    padding: 5px 40px;
}

.burgers {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.burgers ul {
    padding: 0;
}

.burgersToEat {
    /*width: 50vw;*/
    max-width: 300px;
    display: flex;
    justify-content: center;
}
.devouredBurgers {
    display: flex;
    justify-content: center;

}

.devouredBurgers li {
    text-decoration: line-through;
    font-family: 'Eater', cursive;
    font-size: 1.1rem;
}
.burgersToEat li {
    width: 270px;
}

.burgersToEat li,
.devouredBurgers li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px 10px;

}

.devourButtons {
    font-family: 'Eater', cursive;
    font-size: 1rem;
    background-color: goldenrod;
    margin-left: auto;
}
.buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clearDatabase {
    background-color: #573815
}



@media only screen and (max-width: 700px) {
    .burgers {
        display: flex;
    }

    .burgersToEat,
    .devouredBurgers {
        display: flex
    }
    .burgersToEat ul,
    .devouredBurgers ul {
        display: flex;
        flex-direction: column;
        width: 50vw
    }

    .devouredBurgers li {
        justify-content: flex-end;
        font-size: 0.7rem;
    }

    .burgersToEat li {
        display: flex;
        justify-content: flex-start;
        width: 50vw;

    }

    .devourButtons {
        margin: 0;
        position: absolute;
        left: 210px;
        font-size: 14px;
    }
}